@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Myfont;
    src: url('./Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf');
}
*{
    font-family: Myfont;
    margin: 0;
}

.headingpage-container{
    place-content: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.headingpage-title{
    font-size : 5rem;
    font-weight:bolder;
    user-select: none;
}
.headingpage-image-1{
    border-radius: 100%;
    width: 80px;
    height: 75px;
    -webkit-user-drag: none;
}
.headingpage-image-2{
    width : 100px;
    height: 100px;
    -webkit-user-drag: none;
    border-radius: 100%;
}
.headingpage-image-3{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    padding: 0px 10px;
    -webkit-user-drag: none;
}
.headingpage-image-4 {
    border-radius: 20px;
    width: 150px;
    height: 80px;
    padding: 0px 10px;
    -webkit-user-drag: none;
}
.shapingfutures{
    padding: 80px 60px;
}
.shapingfutures-title{
    font-size: 50px;
    font-weight: bold;
    user-select: none;
}
.ourmission-title {
    font-size: 20px;
    color: #88888A;
    font-weight: bold;
    padding : 20px 0px;
    user-select: none;
    float: left;    
    place-content: center;
    text-align: center;
    width: 30%;
}
.ourmission-content {
    font-size: 20px;
    color: #0f0f0f;
    user-select: none;
    float: right;
    width: 70%;
}
.ourmission-container{
    padding: 40px 0px;
    display: flex;
    width: 100%;
}
.success-story {
    background-color: black;
    color: white;
}
.success-story-container{
    padding: 60px;
}
.success-story-title{
    font-size: 45px;
    font-weight: bolder;
    user-select: none;
}


.section-container {
    overflow : hidden;
    padding-top : 30%;
    padding-bottom : 0;

}
.section-group {
    height : 70vh;
    width : 2500vw;
    display : flex;
    flex-direction : row;
    position : relative;
}
.section-title{
    font-size : 25px;
    font-weight : bold;
    padding-left : 30px;
    user-select: none;
    place-content: center;
}
.section { 
    width : 100vh;
    display: inline;
}
.section-content{
    width : 80%;
    font-size: 18px;
    color: grey;
    padding : 10px 30px;
    text-align: justify;
    user-select: none;
    place-content: center;
}
.section-button {
    text-decoration : none;
    color: white;
    font-size : 18px;
}
.section-icon{
    padding-left : 10px;
    width : 10%;
    color: white;
    background-color: black;
}
.section-img{
    width : 100%;
    height : 250px;
    border-radius: 15px;
    display: flex;
    z-index: 2;
}
.section-div-img{
    padding: 0px 20px;
    border-radius: 20px;
    padding-left:  50px;
    user-select: none;
}
.section-content-last{
    width : 70%;
    font-size: 18px;
    color: grey;
    padding-bottom : 20px;
    /* padding-right : 100%; */
}

.section-last { 
    padding-right : 50%;
    width : 100vh;
    display: inline;
}
.feature-title{
    font-size : 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    padding-right : 50%;
    padding-left: 60px;
}
.section-year {
    font-size : 10rem;
    font-weight: bold;
    rotate: 270deg;
    padding: 0px;
    position : absolute;
    left: -90px;   
    font-family: "Bebas Neue", sans-serif;
    top: 20px;
    z-index: -1;
    -webkit-user-drag: none;
    user-select: none;
}
.section{
    position: relative;
}
.clientsay-title {
    font-size : 40px;
    font-weight: bold;
    padding : 60px 60px;
    user-select: none;
}
.client-container {
    border: 1px solid black;
    border-radius: 30px;
    padding : 0px 20px;
    width: 450px;
}
.client-image {
    padding : 20px;
    user-select: none;
}
.client-src-image {
    width : 50%;
}
.client-content{
    padding: 0px 20px;
    padding-bottom: 20px;
    user-select: none;
}
.client-candidate { 
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    user-select: none;
}
.client-head{
    padding :0px 20px;
    padding-bottom: 20px;
    user-select: none;
}
.empowering-title{
    font-size : 3.5rem;
    font-weight: bold;
    user-select: none;
}
.empowering-container {
    padding: 60px;
}
.team-members {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.title-empowering {
    float: left;
    place-content: center;
    font-size : 25px;
    color: #88888A;
    text-align: center;
    user-select: none;
    font-weight: bold;
    padding: 50px 0px;
    width: 30%;
}
.content-empowering {
    font-size: 20px;
    color: #0f0f0f;
    user-select: none;
    float: right;
    width: 70%;
}
.title-emp {
    padding: 70px 0px;
}
.empoweringmember-container {
    padding: 60px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.empowering-image {
    gap: 20px;    
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.empowering-src {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    user-select: none;
}
.designation {
    font-size: 15px;
    float: right;
}
.team {
    font-size : 15px;
    float: left;
}
